.title{
  font-size: pxtoem(40);
  font-weight: 600;
  color: $title-color;
}

.sub-title{
  font-size: pxtoem(26);
  color: black;
}

.space-section{
  padding: 80px 0px;
}

.title-section{
  margin-bottom: 50px;
    text-align: center;
}

.img__default{
  width: 100%;
  height: auto;
}