.card{
  width: 100%;
  max-width: 400px;
  min-width: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: pxtoem(10);
  background: white;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

  .card__img{
    width: 100%;
    height: auto;

    img{
      border-top-left-radius: pxtoem(10);
      border-top-right-radius: pxtoem(10);
      width: 100%;
      height: auto;
    }
  }

  .card__content{

    .card__title{
      margin: 10px 0px;
      font-size: pxtoem(25);
      font-weight: 500;
    }

    .card__text{
      font-size: pxtoem(18);
    }
  }
}

@media (max-width: 895px){
  .card{
    width: 100%;
    max-width: 300px;
    min-width: 300px;
  } 
}

@media (max-width: 683px){
  .card{
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  } 
}