.portifolio{
  @extend .space-section;
  background: #F5F5F5;

  .portifolio__title{
    @extend .title-section;

    h2{
      @extend .title;
    }
  }

  .content__portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    figure{
      width: 100%;
      max-width: 450px;
      min-width: 400px;
      height: auto;
      margin-bottom: 20px;

      &:hover{
        cursor: pointer;
      }

      img{
        @extend .img__default;
      }
    }
  }
}

@media (max-width: 1366px){
  .portifolio{
  
    .content__portfolio{
  
      figure{
        width: 100%;
        max-width: 300px;
      }
    }
  } 
}